
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fff5f7;
    color: #333;
    line-height: 1.8;
}

a {
    color: #d81b60;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


header {
    background-color: #ffb3c6;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1000;
}


.navigacija ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
	left: inherit;
	clear: inherit
}

.navigacija li {
    margin: 0 15px;
}

.navigacija a {
    font-size: 18px;
    color: white;
    font-weight: bold;
	float: inherit;
	
}

.navigacija a:hover {
    text-decoration: underline;
	text-align: center;
	vertical-align: baseline;
}


h1 {
    margin: 0;
    font-size: 2.5em;
    color: #d81b60;
}


main {
    padding: 20px;
}


table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffebf2;
    border-radius: 8px;
	top: auto
}


th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ff80ab;
	display: block
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #fce4ec;
    border-radius: 8px;
	right: inherit
}

h3 {
    color: #d81b60;
}


footer {
    background-color: #ff80ab;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
